html,
body {
    margin: 0;

}

body {
    width: 100%;
    background-color: rgba(204, 247, 125, 0.61);
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: transparent;
    /* border-bottom: 2px solid black; */
    padding: 5px;
    margin-bottom: 30px;
    

} 

.nav * {
    font-size: 1.25rem;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.589);
    text-decoration: none;
   
}

.navprop {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    padding: 5px;
}
.navprop, h3 {
    padding: 5px;
    
}
.hero {
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 52%, rgba(0,0,0,0.4) 100%), #fff no-repeat center center scroll;
}

.herowrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background: #09899a;
    transition: background ease .25s;
    border-radius: 1px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    }

.btn:hover {
    background: #63b6b8;
}

.btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}    

.articleframe {
    background-color: #f7f8fc;
    margin: 3rem 10% 3rem 10%;
    border-radius: 6px 6px 6px 6px;
    width: auto;
    height: auto;
    border: 1px solid black;
    box-shadow: 3px 4px 4px rgb(85, 82, 82);

}

.headerwrap {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.gridwrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    
}
.posend {
    
    margin-top: 2rem;
    align-self: flex-end;
    flex-shrink: 1;
}


.card1 {
    background-color: transparent;
    width: 32%;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    padding: 8rem;
    transition: all .3s ease-in-out;

    
}
.card1:hover {  
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.2); 
    transform: translate3d( 5px, 5px, 0px); 
}    

.card2 {
    width: 32%;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px;
    text-align: center;
    padding: 8rem;
}
.card2:hover {
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.2);
} 

.card3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 32%;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px;
    text-align: center;
    padding: 8rem;
    /* border: 0.1mm solid rgb(38, 39, 39); */
    
}
.card3:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    transform: translate3d( 5px, 5px, 0px);
} 

.btn1 {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 45px;
    max-width: 120px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    align-self: center;
    margin-top: 1rem;
  }
  .btn1:hover {
    text-decoration: none;
    color: #000;
  }
  
  .eff {
    color: #FFF;
    border: 4px solid #000;
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .eff:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  .eff .btn1 {
    transition: all 0.2s ease-out;
    z-index: 2;
 
  }
  .eff:hover .btn1{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  .eff:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .eff:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .contactwrap {
    background-color: #f7f8fc;
    margin: 3rem 10% 3rem 10%;
    border-radius: 6px 6px 6px 6px;
    width: auto;
    height: 50vh;
    border: 1px solid black;
    box-shadow: 3px 4px 4px rgb(85, 82, 82);
    display: flex;
    justify-content: center;
   
   
  }

  .formframe {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: auto;
  }
#inquiry {
    display: flex;
    flex-direction: column;
    width: 50vw;

}
.footer {
    margin-bottom: 0;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem 2rem 2rem;
}

.form1 {
    font-size: 20px;
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;

}

.form1 input {
    width: 100%;
    height: 100%;
    color: rgb(50, 53, 29);
    padding-top: 12px;
    border: none;
    outline: none;
    background: transparent;
}

.form1 label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form1 label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid goldenrod;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.4s ease;
}

.form1 input:focus + .label-name .content-name, 
.form1 input:valid + label-name .content-name{
    transform: translateY(-120%);
    font-size: 14px;
    color: chocolate;
}

.form1 input:focus + .label-name::after, 
.form1 input:valid + .label-name::after {
    transform: translateX(0%);
}